<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>pagina inicial</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <header>
        <h1>Página inicial</h1>
        <nav>
            <ul>
                <a href="/entrar">Entrar</a>
                <a href="/cadastrar">Cadastrar</a>
                <a href="/arearestrita">Area Restrita</a>
                
            </ul>
        </nav>
    </header>

    <main>
        <section>

        </section>
    </main>

    <footer>
        <p>&copy; 2025 leilão</p>
    </footer>
</body>
</html>

<!-- 
fazer a base -->