* {
    box-sizing: border-box;
  }


footer {

    padding: 20px;
    /* background: #868686; */
    color: rgb(0, 0, 0);
    font-size: 14px;
    margin-top: 40px;
    bottom:0; 
    width: 100%;
    
  }