{% extends "base.html" %}
{% block conteudo %}

<link rel="stylesheet" href="{{ url_for('static', filename='styles/style_areaRestrita.css')}}">


<h2>Lista de Usuários</h2>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>nome</th>
            <th>CPF</th>
            <th>RG</th>
            <th>data de nascimento</th>
            <th>email</th>
            <th>CEP</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for cadastro in cadastros %}
        <tr>
            <td>{{ cadastro.id_usuario }}</td>
            <td>{{ cadastro.nome }}</td>
            <td>{{ cadastro.cpf }}</td>
            <td>{{ cadastro.rg}}</td>
            <td>{{ cadastro.data_nascimento }}</td>
            <td>{{ cadastro.email }}</td>
            <td>{{ cadastro.cep }}</td>
            <td><a href="{{ url_for('editarUsuario', id_usuario=cadastro.id_usuario) }}">Editar</a></td>
            <td><a href="{{ url_for('deletarUsuario', id_usuario=cadastro.id_usuario) }}">Deletar</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<br><br>

<h2>Lista de Produtos</h2>
<table>
    <thead>
        <tr>
            <th>ID Produto</th>
            <th>ID Usuário</th>
            <th>nome Produto</th>
            <th>categoria</th>
            <th>preço</th>
            <th>incremento minimo</th>
            <th>data final</th>
            <th>imagem</th>
            <th></th>
            <th></th>


        </tr>
    </thead>
    <tbody>
        {% for produto in produtos %}
        <tr>
            <td>{{ produto.id_produto }}</td>
            <td>{{ produto.id_usuario }}</td>
            <td>{{ produto.nome_produto }}</td>
            <td>{{ produto.categoria_produto }}</td>
            <td>{{ produto.preco_produto }}</td>
            <td>{{ produto.incremento_minimo}}</td>
            <td>{{ produto.data_final}}</td>
            <td>{{ produto.imagens}}</td>
            <td><a href="{{ url_for('editarProduto', id_produto=produto.id_produto) }}">Editar</a></td>
            <td><a href="{{ url_for('deletarProduto', id_produto=produto.id_produto) }}">Deletar</a></td>

            
        </tr>
        {% endfor %}
    </tbody>
</table>


<br><br>

<h2>Lista de Lances</h2>
<table>
    <thead>
        <tr>
            <th>ID Lance</th>
            <th>ID usuario</th>
            <th>ID produto</th>
            <th>horario do lance</th>
            <th>valor do lance</th>
            <th></th>
            <th></th>

        </tr>
    </thead>
    <tbody>
        {% for lance in lances %}
        <tr>
            <td>{{ lance.id_lance }}</td>
            <td>{{ lance.id_usuario }}</td>
            <td>{{ lance.id_produto }}</td>
            <td>{{ (lance.horario_lance ) }}</td>
            <td>{{ lance.valor_lance }}</td>
            <td>{{ lance.horario_lance.strftime('%d/%m/%Y %H:%M') }}</td>
            <td><a href="{{ url_for('editarLance', id_lance=lance.id_lance) }}">Editar</a></td>
            <td><a href="{{ url_for('deletarLance', id_lance=lance.id_lance) }}">Deletar</a></td>

        </tr>
        {% endfor %}
    </tbody>
</table>


<br><br>


{% endblock %}
