<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <title>leilão</title>

  <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='/styles/style.css')}}">

</head>


<body>

  <header>
    <h2>Leilão</h2>
  </header>

  <nav class="navPrincipal">
    <ul>
      <li><a href="/">Página inicial</a></li>
      <li><a href="/login_AR">Área Restrita</a></li>
  
      {% if 'usuario_logado' in session %}
      <li><a href="/minhaconta">Minha conta</a></li>
      {% else %}
      <li><button id="myBtn">Entrar ou Cadastrar</button></li>
      {% endif %}
    </ul>
  </nav>

  <div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content" id="modal-login">
      <span class="close">&times;</span>

      <div id="lados">
        <!-- Lado esquerdo: login -->
        <div id="ladoEsquerdo">
          <h3>Acessar a Minha Conta</h3>
          <form id="loginForm">
            <label for="email">Digite seu Email:</label><br>
            <input type="email" id="email" name="email" required placeholder="ex. usuario@gmail.com"><br><br>

            <label for="senha">Digite sua Senha:</label><br>
            <input type="password" id="senha" name="senha" required placeholder="ex. senha"><br><br>

            <button type="submit" id="btnLogin" class="btn btn-primary">Fazer login</button>
          </form>

          <p id="loginMsg" style="color:red; margin-top:10px;"></p>
        </div>

        <!-- Lado direito: cadastro -->
        <div id="ladoDireito">
          <p>Ainda não tem cadastro?</p>
          <a href="{{ url_for('cadastrar') }}" style="color: blue; text-decoration: underline;">Cadastre-se aqui</a>
        </div>
      </div>
    </div>

  </div>





  <h2>{{titulo}}</h2>

  {% with messages = get_flashed_messages() %}
  {% if messages %}
  <ul id="messages" class="list-unstyled">
    {% for message in messages %}
    <li class="alert alert-success">{{ message }}</li>
    {% endfor %}
  </ul>
  {% endif %}
  {% endwith %}

  




  {%block conteudo%}
  {%endblock%}

  <!-- <footer>
        &#169; leilões sla
    </footer> -->

</body>

</html>
<script src="{{ url_for('static', filename='/scripts/script_base.js')}}"></script>