<!DOCTYPE html>
<html lang="pt-br">



<head>
  <meta charset="UTF-8">
  <title>Vintage Gallery</title>

  <!-- <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600&display=swap" rel="stylesheet"> -->
  <link href="{{ url_for('static', filename='/styles/style.css')}}" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/5/w3.css">
</head>

<body>

  <header class="header-vintage">

    <div id="sidebar-backdrop" style="
  display:none;
  position:fixed;
  top:0; left:0;
  width:100%; height:100%;
  background:rgba(0,0,0,0.2);
  z-index:5;">
    </div>


    <!-- logo(na esquerda) -->

    <div class="header-esquerda">
      <a href="{{ url_for('paginainicial') }}">
        <img src="{{ url_for('static', filename='imagens/logotiporf.png') }}" alt="Logotipo" class="logotipo">
      </a>
    </div>




    <div class="barra-pesquisa-container">

      <form action="/produtos" method="GET" class="form-pesquisa">

        <input type="text" name="nome_produto" placeholder="Pesquisar produtos, categorias..." class="input-pesquisa">

        <!-- <select name="categoria">
          <option value="">Todas categorias</option>
          <option value="eletronicos" {% if categoria_produto=='eletronicos' %}selected{% endif %}>Eletrônicos</option>
          <option value="roupas" {% if categoria_produto=='roupas' %}selected{% endif %}>Roupas</option>
          <option value="decoracao" {% if categoria_produto=='decoracao' %}selected{% endif %}>Decoração</option>
        </select> -->

        <button type="submit" class="btn-pesquisa">
          <i class="fa-solid fa-magnifying-glass"></i>
        </button>
      </form>


    </div>





    <!-- ÍCONE MINHA CONTA + MENU DROPDOWN (DIREITA) -->
    <div class="header-direita">


      <!-- ÍCONE MINHA CONTA -->

      {% if 'usuario_logado' in session %}
      <a href="/minhaconta" id="btnConta" class="icon-conta"><i class="fa-solid fa-user"></i></a>
      {% else %}
      <button id="myBtn">Entrar ou Cadastrar</button>
      {% endif %}



      <div class="w3-sidebar w3-bar-block w3-card w3-animate-right" style="display:none; right:0; top:0; z-index:10; background-color: rgb(252, 250, 244);"
        id="rightMenu">

        <button onclick="closeRightMenu()" class="w3-bar-item w3-button w3-large">&times;</button>

        <a href="{{url_for('paginainicial')}}" class="w3-bar-item w3-button">Página inicial</a>

        <a href="{{ url_for('cadastro_produto') }}" class="w3-bar-item w3-button">Cadastrar Produto</a>
        <a href="{{ url_for('todosProdutos') }}" class="w3-bar-item w3-button">Todos os produtos</a>

        <a href="{{ url_for('como_vender') }}" class="w3-bar-item w3-button">Como vender</a>
        <a href="{{ url_for('como_comprar') }}" class="w3-bar-item w3-button">Como comprar</a>
        <a href="{{ url_for('sobre') }}" class="w3-bar-item w3-button">Sobre nós</a>

        <a href="{{ url_for('login_AR') }}" class="w3-bar-item w3-button">Área restrita</a>
      </div>

      <button class="w3-button w3-xlarge w3-right" onclick="openRightMenu()">&#9776;</button>




    </div>

  </header>

  <div id="menuBackdrop" class="menu-backdrop"></div>



  <main>
    <div id="myModal" class="modal">

      <!-- Modal content -->
      <div class="modal-content" id="modal-login">
        <span class="close">&times;</span>

        <div id="lados">
          <!-- Lado esquerdo: login -->
          <div id="ladoEsquerdo">
            <h3>Acessar a Minha Conta</h3>
            <form id="loginForm">
              <label for="email">Digite seu Email:</label><br>
              <input type="email" id="email" name="email" required placeholder="ex. usuario@gmail.com"><br><br>

              <label for="senha">Digite sua Senha:</label><br>
              <input type="password" id="senha" name="senha" required placeholder="ex. senha"><br><br>

              <button type="submit" id="btnLogin" class="btn btn-primary">Fazer login</button>
            </form>

            <p id="loginMsg" style="color:red; margin-top:10px;"></p>
          </div>

          <!-- Lado direito: cadastro -->
          <div id="ladoDireito">
            <p>Ainda não tem cadastro?</p>
            <a href="{{ url_for('cadastro_usuario') }}" style="color: blue; text-decoration: underline;">Cadastre-se
              aqui</a>
          </div>
        </div>
      </div>

    </div>






    {%block conteudo%}
    {%endblock%}



  </main>


  <footer class="rodape">
    <div class="rodape-container">

      <!-- Selo grande à esquerda -->
      <div class="footer-selo">
        <a href="{{ url_for('paginainicial') }}">
          <img src="{{ url_for('static', filename='imagens/logotiporf.png') }}" alt="logotipo">
        </a>
      </div>

      <!-- Navegação e Ajuda -->
      <div class="rodape-secao">
        <h4>Atendimento</h4>
        <p><i class="fa-solid fa-envelope"></i> sacvintagegallery@gmail.com</p>
        <p><i class="fa-solid fa-phone"></i> (11) 99000-0000</p>
      </div>

      <div class="rodape-secao">
        <h4>Área restrita</h4>
        <p><a href="{{ url_for('arearestrita') }}">Entrar</a></p>
      </div>

      <div class="rodape-secao">
        <h4>Navegação</h4>
        <p><a href="{{ url_for('todosProdutos') }}">Todos os produtos</a></p>
        <p><a href="{{ url_for('cadastro_produto') }}">Cadastrar produto</a></p>
      </div>

      <div class="rodape-secao">
        <h4>Ajuda</h4>
        <p><a href="{{ url_for('como_vender') }}">Como vender</a></p>
        <p><a href="{{ url_for('como_comprar') }}">Como comprar</a></p>
        <p><a href="{{ url_for('sobre') }}">Sobre nós</a></p>
      </div>

      <!-- Tema + redes sociais à direita -->
      <div class="rodape-secao rodape-direita">
        <button class="botao-tema" onclick="trocarTema()">
          <i class="fa-regular fa-moon"></i>
        </button>

        <div class="social-icons">
          <a href="#" class="social-link"><i class="fab fa-instagram"></i></a>
          <a href="#" class="social-link"><i class="fab fa-facebook"></i></a>
          <a href="#" class="social-link"><i class="fab fa-x-twitter"></i></a>
        </div>
      </div>

    </div>

    <p class="direitos">© Vintage Gallery — Todos os direitos reservados</p>
  </footer>



</body>


<script src="{{ url_for('static', filename='/scripts/script_base.js')}}"></script>


<script>
  const menu = document.getElementById("rightMenu");
  const backdrop = document.getElementById("sidebar-backdrop");

  function openRightMenu() {
    menu.style.display = "block";
    backdrop.style.display = "block";
  }

  function closeRightMenu() {
    menu.style.display = "none";
    backdrop.style.display = "none";
  }

  backdrop.addEventListener("click", closeRightMenu);
</script>


<script>
  // funçção que troca o tema(n funciona direito)
  function trocarTema() {
    document.body.classList.toggle('modo-escuro');
  }

</script>

</html>