{% extends "base.html" %}
{% block conteudo %}

<link rel="stylesheet" href="{{ url_for('static', filename='/styles/style_detalhesProduto.css')}}">

<main class="detalhes-produto">

  <div class="produto-imagem">
    {% if produto.imagens and produto.imagens[0] %}
    <img src="{{ url_for('get_img', id_imagem=produto.imagens[0].id_imagem) }}" alt="{{ produto.nome_produto }}">
    {% else %}
    <img src="{{ url_for('static', filename='img/sem-imagem.png') }}" alt="Sem imagem disponível">
    {% endif %}
  </div>

  <section class="produto-info">
    <h2>{{ produto.nome_produto }}</h2>
    <p><b>Categoria:</b> {{ produto.categoria_produto }}</p>

    <p><b>Valor inicial:</b> R$ {{ produto.preco_produto }}</p>
    <p><b>Lance mínimo:</b> R$ {{ lance_minimo }}</p>
    <p><b>Incremento:</b> R$ {{ produto.incremento_minimo }}</p>

    <p><b>Valor atual:</b> R${{lance_minimo}}</p>
    <p><b>Tempo restante:</b> —</p>

    <hr>

    <h3>Fazer um lance</h3>

    {% if 'usuario_logado' in session and session['usuario_logado'] %}
    <form method="post" action="{{ url_for('fazer_lance', id_produto=produto.id_produto) }}" class="form-lance">
      <label for="valor_lance">Valor do lance:</label>

      <input id="valor_lance" name="valor_lance" type="number" step="0.01" required min="{{ lance_minimo }}"
        value="{{ lance_minimo }}">

      <button type="submit">Fazer Lance</button>
    </form>
    {% else %}
    <form id="form-lance-deslogado" class="form-lance">

      <label for="valor_lance">Valor do lance:</label>

      <input id="valor_lance" name="valor_lance" type="number" step="0.01" required min="{{ lance_minimo }}"
        value="{{ lance_minimo }}">

      <button type="submit" id="btnLanceDeslogado">Fazer Lance</button>
    </form>

      {% endif %}

      <h5><b>Horário do lance (local):</b> <span id="horario-lance"></span></h5>
  </section>

</main>


<script>
  const horarioServidor = "{{ datetime.utcnow().isoformat() }}Z";
  const dataLocal = new Date(horarioServidor);
  document.getElementById("horario-lance").textContent =
    !isNaN(dataLocal) ? dataLocal.toLocaleString() : "Erro ao converter horário";

  //meu deus não sei oq tá acontecendo

</script>



{% endblock %}