{%extends "base.html"%}
{%block conteudo%}

{% if primeiro_nome %}
    <h3>Bem-vindo, {{ primeiro_nome }}!</h3>
{% endif%}




<main>

    

    <div class="abraangecards">

        {%for produto in produtos%}

        <div class="card">
            <a href="{{url_for('detalhes_produto', id_produto=produto.id_produto)}}">
                <img src="static/capa_padrao.jpeg" alt="{{produto.nome_produto}}" />
            </a>
        </div>


        {%endfor%}






    </div>

</main>


<footer>
    <p>&copy; 2025 leilão</p>
</footer>



{%endblock%}