{%extends "base.html"%}
{%block conteudo%}

<link rel="stylesheet" href="{{ url_for('static', filename='styles/style_index.css')}}">



<nav class="navPrincipal">

    <ul>
        <li>
            <a href="{{ url_for('todosProdutos') }}">Todos os produtos</a>
        </li>
        <li>
            <a href="{{ url_for('como_vender') }}">Como vender</a>
        </li>

        <li>
            <a href="{{ url_for('como_comprar') }}">Como comprar</a>
        </li>
        <li>
            <a href="{{ url_for('sobre') }}">Sobre nós</a>
        </li>


    </ul>
</nav>

<!-- {% with messages = get_flashed_messages() %}
{% if messages %}
<ul id="messages" class="list-unstyled">
    {% for message in messages %}
    <li class="alert alert-success" style="font-size: 23px;">{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %} -->


<main>





    <!-- {% if primeiro_nome %}
    <p style="font-size: 25px0; margin-left: -40px; font-size:25px;">Bem-vindo, {{ primeiro_nome }}!</p>
    {% endif%} -->

    <section class="carrossel-container">
        <div class="carrossel">
            <div class="carrossel-slide active">
                <img src="{{ url_for('static', filename='imagens/carrossel8.jpeg') }}" alt="Slide 2">
                <div class="carrossel-texto">
                    <h2>Todo o Catálogo</h2>
                    <p>confira todo nosso catálogo!</p>
                    <a href="{{ url_for('todosProdutos') }}" class="botao-carrossel"> ver tudo</a>
                </div>
            </div>
            <div class="carrossel-slide">
                <img src="{{ url_for('static', filename='imagens/carrossel5.jpeg') }}" alt="Slide 2">
                <div class="carrossel-texto">
                    <h2>Como vender?</h2>
                    <p>comece hoje seu leilão!</p>
                    <a href="{{ url_for('como_vender') }}" class="botao-carrossel">saiba mais</a>
                </div>
            </div>


            <!-- Controles -->
            <div class="carrossel-controles">
                <span class="anterior">&#10094;</span>
                <span class="proximo">&#10095;</span>
            </div>
        </div>
    </section>

    <section class="categorias-carousel">
        <h2>Categorias</h2>

        <div class="carousel-wrapper">
            <button class="carousel-btn left-btn">&#10094;</button>

            <div class="carousel-container">
                <!-- Cada categoria -->
                <a href="{{ url_for('produtos', nome_produto='quadro') }}" class="categoria-item">
                    <div class="icon-wrapper">
                        <img src="{{ url_for('static', filename='imagens/icones/quadro3.jpg') }}" alt="">
                    </div>
                    <p>Quadros</p>
                </a>

                <a href="{{ url_for('produtos', nome_produto='escultura') }}" class="categoria-item">
                    <div class="icon-wrapper">
                        <img src="{{ url_for('static', filename='imagens/icones/escultura.jpg') }}" alt="">
                    </div>
                    <p>Escultura</p>
                </a>

                <a href="{{ url_for('produtos', nome_produto='arte_decoracao') }}" class="categoria-item">
                    <div class="icon-wrapper">
                        <img src="{{ url_for('static', filename='imagens/icones/dec.jpg') }}" alt="">
                    </div>
                    <p>Arte & Decoração</p>
                </a>
                <a href="{{ url_for('produtos', nome_produto='antiguidades') }}" class="categoria-item">
                    <div class="icon-wrapper">
                        <img src="{{ url_for('static', filename='imagens/icones/antt.jpg') }}" alt="">
                    </div>
                    <p>Antiguidades</p> 
                </a>
                <a href="{{ url_for('produtos', nome_produto='moveis_vintage') }}" class="categoria-item">
                    <div class="icon-wrapper">
                        <img src="{{ url_for('static', filename='imagens/icones/movel.jpg') }}" alt="">
                    </div>
                    <p>Móveis Vintage</p>
                </a>

                <a href="{{ url_for('produtos', nome_produto='moda_retro') }}" class="categoria-item">
                    <div class="icon-wrapper">
                        <img src="{{ url_for('static', filename='imagens/icones/moda.jpg') }}" alt="">
                    </div>
                    <p>Moda Retrô</p>
                </a>

                <a href="{{ url_for('produtos', nome_produto='tecnologia_antiga') }}" class="categoria-item">
                    <div class="icon-wrapper">
                        <img src="{{ url_for('static', filename='imagens/icones/tec.jpg') }}" alt="">
                    </div>
                    <p>Tecnologia Antiga</p>
                </a>

                <a href="{{ url_for('produtos', nome_produto='raridades') }}" class="categoria-item">
                    <div class="icon-wrapper">
                        <img src="{{ url_for('static', filename='imagens/icones/raro.jpg') }}" alt="">
                    </div>
                    <p>Raridades</p>
                </a>

                <a href="{{ url_for('produtos', nome_produto='moeda') }}" class="categoria-item">
                    <div class="icon-wrapper">
                        <img src="{{ url_for('static', filename='imagens/icones/moeda.jpg') }}" alt="">
                    </div>
                    <p>Moeda</p>
                </a>

                <a href="{{ url_for('produtos', nome_produto='miniatura') }}" class="categoria-item">
                    <div class="icon-wrapper">
                        <img src="{{ url_for('static', filename='imagens/icones/mini.jpg') }}" alt="">
                    </div>
                    <p>Miniatura</p>
                </a>

                <a href="{{ url_for('produtos', nome_produto='outro') }}" class="categoria-item">
                    <div class="icon-wrapper">
                        <img src="{{ url_for('static', filename='imagens/icones/outros.jpg') }}" alt="">
                    </div>
                    <p>Outros</p>
                </a>

            </div>

            <button class="carousel-btn right-btn">&#10095;</button>
        </div>
    </section>


    <!-- produtos recentes -->
    <section class="produtos-recentes">
        <h2>Produtos mais recentes</h2>

        <div class="grid-produtos-recentes">

            {% for produto in produtos %}
            <a class="card-recente" href="{{ url_for('detalhes_produto', id_produto=produto.id_produto) }}">

                <div class="card-img">
                    {% if produto.imagens and produto.imagens[0] %}
                    <img src="{{ url_for('get_img', id_imagem=produto.imagens[0].id_imagem) }}"
                        alt="{{ produto.nome_produto }}">
                    {% else %}
                    <img src="{{ url_for('static', filename='imagens/capa_padrao.jpeg') }}"
                        alt="{{ produto.nome_produto }}">
                    {% endif %}
                </div>

                <div class="card-info">
                    <h3 class="marca">{{ produto.marca_produto }}</h3>
                    <p class="titulo">{{ produto.nome_produto }}</p>
                    <p class="preco">R$ {{ produto.preco_produto }}</p>
                </div>

            </a>
            {% endfor %}

        </div>
    </section>






</main>


<script>
    const container = document.querySelector(".carousel-container");
    const leftBtn = document.querySelector(".left-btn");
    const rightBtn = document.querySelector(".right-btn");

    leftBtn.addEventListener("click", () => {
        container.scrollBy({ left: -300, behavior: "smooth" });
    });

    rightBtn.addEventListener("click", () => {
        container.scrollBy({ left: 300, behavior: "smooth" });
    });
</script>

<script>
    document.addEventListener("DOMContentLoaded", function () {

        const slides = document.querySelectorAll(".carrossel-slide");
        const btnAnterior = document.querySelector(".anterior");
        const btnProximo = document.querySelector(".proximo");
        let index = 0;

        function mostrarSlide(n) {
            slides.forEach((slide, i) => {
                slide.classList.remove("active");
                slide.style.opacity = "0";
                slide.style.transition = "opacity 0.6s ease";
            });
            slides[n].classList.add("active");
            slides[n].style.opacity = "1";
        }

        function slideAnterior() {
            index = (index - 1 + slides.length) % slides.length;
            mostrarSlide(index);
        }

        function slideProximo() {
            index = (index + 1) % slides.length;
            mostrarSlide(index);
        }

        // Botões de controle
        btnAnterior.addEventListener("click", slideAnterior);
        btnProximo.addEventListener("click", slideProximo);

        // Troca automática
        setInterval(slideProximo, 5000);

        // Inicializa o primeiro slide
        mostrarSlide(index);
    });


</script>



{%endblock%}