{%extends "base.html"%}
{%block conteudo%}


<style>
  h1 {
    font-size: 25px;
  }

  main {
    min-height: 80vh;

  }
</style>

<main>


  {% with messages = get_flashed_messages() %}
  {% if messages %}
  <ul id="messages" class="list-unstyled">
    {% for message in messages %}
    <li class="alert alert-success" style="font-size: 23px;">{{ message }}</li>
    {% endfor %}
  </ul>
  {% endif %}
  {% endwith %}

  <br>

  <h1>Entrar- Área Restrita</h1>


  <div id="login_arearestrita">


    <form method="post" action="{{url_for('login_AR')}}">
      <input type="hidden" , name="proxima" value="{{ proxima }}">

      <p>
        <label for="nome_login">Email</label>
        <input id="email_adm" name="email_adm" required="required" type="text" placeholder="ex. adm@gmail.com" />
      </p>

      <p>
        <label for="email_login">Senha</label>
        <input id="senha_adm" name="senha_adm" required="required" type="password" placeholder="ex. senha" />
      </p>


      <p>
        <input type="submit" value="Logar" />
      </p>
    </form>

  </div>

</main>

{%endblock%}