{%extends "base.html"%}
{%block conteudo%}


<style>
  h1 {
    font-size: 25px;
  }

  main{
  min-height: 80vh;

  }
</style>
<main>

  <h1>Entrar- Área Restrita</h1>


  <div id="login_arearestrita">


    <form method="post" action="{{url_for('login_AR')}}">
      <input type="hidden" , name="proxima" value="{{ proxima }}">

      <p>
        <label for="nome_login">Email</label>
        <input id="email_adm" name="email_adm" required="required" type="text" placeholder="ex. adm@gmail.com" />
      </p>

      <p>
        <label for="email_login">Senha</label>
        <input id="senha_adm" name="senha_adm" required="required" type="password" placeholder="ex. senha" />
      </p>


      <p>
        <input type="submit" value="Logar" />
      </p>
    </form>

  </div>

</main>

{%endblock%}