{%extends "base.html"%}
{%block conteudo%}

{% if primeiro_nome %}
<h3>Olá, {{ primeiro_nome }}!</h3>
{% endif%}



<body>
    <div>
        <ul>
            <button id="meusDados" onclick="carregarConteudo('meus_dados')">Meus dados</button>
            <button id="meusLances" onclick="carregarConteudo('meus_lances')">Meus Lances</button>
            <button id="produtosLeiloados" onclick="carregarConteudo('produtos_leiloados')">Produtos Leiloados</button>

            
            <div id="conteudo-dinamico">
                <p>Escolha uma seção acima.</p>
            </div>


        </ul>
    </div>

</body>


<footer>
    <p>&copy; 2025 leilão</p>
</footer>

<script src="static/script_minhaConta.js"></script>

{%endblock%}