{% extends "base.html" %}
{% block conteudo %}

<link rel="stylesheet" href="{{ url_for('static', filename='/styles/style_index.css')}}">

 <!-- PRODUTOS RECENTES -->
 <section class="produtos-recentes">
    <h2>Todos os produtos</h2>
        <!--filtrar por: lalalalalala-->

    <div class="grid-produtos-recentes">

        {% for produto in produtos %}
        <a class="card-recente" href="{{ url_for('detalhes_produto', id_produto=produto.id_produto) }}">

            <div class="card-img">
                {% if produto.imagens and produto.imagens[0] %}
                <img src="{{ url_for('get_img', id_imagem=produto.imagens[0].id_imagem) }}" alt="{{ produto.nome_produto }}">
                {% else %}
                <img src="{{ url_for('static', filename='imagens/capa_padrao.jpeg') }}" alt="{{ produto.nome_produto }}">
                {% endif %}
            </div>

            <div class="card-info">
                <h3 class="marca">{{ produto.marca_produto }}</h3>
                <p class="titulo">{{ produto.nome_produto }}</p>
                <p class="preco">R$ {{ produto.preco_produto }}</p>
            </div>

        </a>
        {% endfor %}

    </div>
</section>


{% endblock %}