.form-control:focus {
    outline: none;
    border: 2px solid #6b8fb4;
    box-shadow: 0 0 8px rgba(67, 80, 95, 0.5);
    transition: 0.2s;
}

  
  /* Container */
  .formulario {
    max-width: 1100px;
    margin: 40px auto;
    background: #fff;
    border-radius: 10px;
    padding: 40px 50px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.07);
  }
  
  /* Duas colunas */
  .form-duas-colunas {
    display: flex;
    gap: 90px;
    flex-wrap: wrap;
  }
  
  .coluna {
    flex: 1;
    min-width: 420px;
  }
  
  /* Títulos */
  h3{
    font-size: 22px;
    margin-bottom: 20px;
    border-bottom: 2px solid #7e4894;
    display: inline-block;
    padding-bottom: 5px;
  }
  
  h4 {
    font-size: 18px;
    margin: 25px 0 10px;
    color: #444;
  }
  
  /* Inputs */
  .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
  }
  
  label {
    /* margin-bottom: 5px; */
    font-size: 13px;
  }
  
  input, select {
    border: 1px solid #ccc;
    border-radius: 6px;
    padding: 10px 12px;
    font-size: 13px;
    transition: all 0.2s ease;
  }
  
  input:focus, select:focus {
    border-color: #533b63;
    box-shadow: 0 0 4px rgba(91, 41, 156, 0.4);
    outline: none;
  }
  
  /* Duas colunas dentro de uma */
  .duas-colunas {
    display: flex;
    gap: 15px;
  }
  
  /* Botão */
  #btn-enviar {
    background-color: #7f5a86;
    color: white;
    border: none;
    padding: 14px 32px;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    font-weight: 600;
    margin-top: 30px;
    transition: all 0.25s ease;
  }
  
  #btn-enviar:hover {
    background-color: #513457;
    transform: scale(1.02);
  }
  
  /* Responsividade */
  @media (max-width: 850px) {
    .form-duas-colunas {
      flex-direction: column;
    }
  }
  