.detalhes-produto {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
    max-width: 1100px;
    margin: 3rem auto;
    padding: 1.5rem;
}

.produto-imagem {
    flex: 1 1 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 450px;
    background-color: #f5f5f5;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.produto-imagem img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.produto-info {
    flex: 1 1 350px;
    background-color: #fff;
    border-radius: 12px;
    padding: 1.5rem 2rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.produto-info h2 {
    margin-bottom: 0.5rem;
    font-size: 1.8rem;
    color: #333;
}

.produto-info p {
    margin: 0.4rem 0;
    color: #444;
    font-size: 20px;
}

.produto-info hr {
    margin: 1.5rem 0;
    border: none;
    border-top: 1px solid #ddd;
}

.form-lance {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.form-lance label {
    font-weight: 500;
}

.form-lance input {
    padding: 0.5rem;
    border-radius: 8px;
    border: 1px solid #ccc;
}

.form-lance button {
    background-color: #575757;
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 0.6rem;
    cursor: pointer;
    font-weight: 500;
}

.form-lance button:hover {
    background-color: #9486bb;
}

.btn-secundario {
    background-color: #888;
    color: #fff;
    padding: 0.6rem 1rem;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

.btn-secundario:hover {
    background-color: #666;
}

h5{
    font-size: 13px;
    
}
/* Responsividade */
@media (max-width: 768px) {
    .detalhes-produto {
        flex-direction: column;
        align-items: center;
    }

    .produto-info {
        width: 100%;
    }

    .produto-imagem {
        width: 100%;
    }
}