.form-control:focus {
    outline: none;
    border: 2px solid #b46b6f;
    box-shadow: 0 0 8px rgba(95, 67, 76, 0.5);
    transition: 0.2s;
}

  
  /* Container */
  .formulario {
    max-width: 1100px;
    margin: 40px auto;
    background: #fff;
    border-radius: 10px;
    padding: 40px 50px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.07);
  }
  
  /* Duas colunas */
  .form-duas-colunas {
    display: flex;
    gap: 90px;
    flex-wrap: wrap;
  }
  
  .coluna {
    flex: 1;
    min-width: 420px;
  }
  
  /* Títulos */
  h3{
    font-size: 22px;
    margin-bottom: -20px;
    border-bottom: 2px solid #946d48;
    display: inline-block;
    padding-bottom: 5px;
  }
  
  h4 {
    font-size: 18px;
    margin: 25px 0 10px;
    color: #444;
  }
  
  /* Inputs */
  .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
  }
  
  label {
    margin-bottom: 5px;
    font-size: 13px;
  }
  
  input, select {
    border: 1px solid #ccc;
    border-radius: 6px;
    padding: 10px 12px;
    font-size: 13px;
    transition: all 0.2s ease;
  }
  
  input:focus, select:focus {
    border-color: #d8b472;
    box-shadow: 0 0 4px rgba(156, 125, 41, 0.4);
    outline: none;
  }
  
  /* Duas colunas dentro de uma */
  .duas-colunas {
    display: flex;
    gap: 15px;
  }
  
  /* Botão */
  #btn-enviar {
    background-color: #bba26b;
    color: white;
    border: none;
    padding: 14px 32px;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    font-weight: 600;
    margin-top: 30px;
    transition: all 0.25s ease;
  }
  
  #btn-enviar:hover {
    background-color: #91835d;
    transform: scale(1.02);
  }
  
  /* Responsividade */
  @media (max-width: 850px) {
    .form-duas-colunas {
      flex-direction: column;
    }
  }
  
/* Coluna da imagem */
.coluna-imagem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
}

.coluna-imagem h4 {
  color: #444;
  margin-bottom: 15px;
}

.upload-area {
  border: 2px dashed #944855;
  border-radius: 10px;
  padding: 20px;
  width: 100%;
  max-width: 300px;
  background-color: #fbf8f9;
  transition: all 0.3s ease;
}

.upload-area:hover {
  border-color: #944852;
  background-color: #fff4f4;
}

#preview-imagem {
  width: 100%;
  max-width: 250px;
  margin-top: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}
