.container-conta {
    display: flex;
    min-height: 70vh;
    width: 90%;
    margin: 2rem auto;
    border-radius: 12px;
    background: #fafafa;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
    margin-top: 100px;
}

.menu-conta {
    width: 220px;
    background-color: #fcfaf8;
    border-right: 1px solid #eaeaea;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
}

.menu-conta h2 {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    color: #333;
    font-family: "Lora", serif;
}

.menu-conta ul {
    list-style: none;
    padding: 0;
    width: 100%;
}

.menu-conta button {
    width: 100%;
    text-align: left;
    background: none;
    border: none;
    font-size: 0.95rem;
    padding: 0.6rem 0.8rem;
    color: #555;
    display: flex;
    align-items: center;
    gap: 0.6rem;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.menu-conta button:hover {
    background: #f2f2f2;
    color: #000;
}

.conteudo-conta {
    flex: 1;
    padding: 2rem;
}

.conteudo-conta h3 {
    font-weight: 500;
    margin-bottom: 1.5rem;
}

.conteudo-dinamico {
    background-color: #fffbf8;
    border-radius: 10px;
    padding: 2rem;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.05);
}