@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

main{
    margin-top: 20px;
    font-family: "Lora", serif;

}

/* ----- CARROSSEL ----- */
.carrossel-container {
    position: relative;
    overflow: hidden;
    max-width: 100%;
    height: 58vh;
    /* margin-top: 40px; */
    z-index: 2;
    border-radius: 10px;
}

.carrossel {
    position: relative;
    overflow: hidden;
    height: 58vh;
}


.carrossel-slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 58vh;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}

.carrossel-slide.active {
    opacity: 1;
    z-index: 2;
}

.carrossel-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(70%);
}

.carrossel-texto {
    position: absolute;
    bottom: 20%;
    left: 10%;
    color: #fff;
    max-width: 500px;
}

.carrossel-texto h2 {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
    font-family: "Lora", serif;
}

.carrossel-texto p {
    font-size: 1.1rem;
    margin-bottom: 1rem;
}

.botao-carrossel {
    background-color: #d4af37;
    color: white;
    padding: 10px 25px;
    border-radius: 25px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.botao-carrossel:hover {
    background-color: #b9962c;
}

/*Controles do carrossel */

.carrossel-controles {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
    z-index: 5;
    padding: 0 20px;
} 

.carrossel-controles span {
    cursor: pointer; 
    color: rgba(255, 255, 255, 0.308);
    font-size: 1rem;
    line-height: 45px;
    transition: background-color 0.3s;
}

.carrossel-controles span:hover {
    background-color: rgba(0, 0, 0, 0);
}




/*nav*/


.navPrincipal {
    width: 100vw;         
    margin: 0;             
    padding: 25px 0;
    background: rgba(248, 248, 243, 0.6);
    backdrop-filter: blur(3px);
    margin-top: 27px;
    position: relative;
    left: 49%;
    right: 50%; 
    transform: translateX(-50%);  

    text-align: center;
    box-shadow: 0 2px 6px rgba(0,0,0,0.15);
} 


.navPrincipal ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 40px;
    margin: 0;
    padding: 0;
    
}

.navPrincipal ul li a {
    text-decoration: none;
    color: #333;
    font-size: 1.2rem;
    padding: 15px 12px;
    font-weight: 500;
    transition: color 0.3s ease;
    font-size: 20px;
}

.navPrincipal ul li a:hover {
    color: #92743c;
}




/* Seção */
.produtos-recentes {
    width: 100%;
    padding: 40px 80px;
    margin-top: 80px;
}

.produtos-recentes h2 {
    font-size: 32px;
    margin-bottom: 50px;
    font-weight: 500;
    letter-spacing: 1px;
    font-family: "Lora", serif;

}




.grid-produtos-recentes {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px 40px;
    margin-top: 80px;
}

/* CARD */
.card-recente {
    text-decoration: none;
    color: black;
    display: block;
}

.card-img {
    width: 100%;
    height: 320px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.card-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: transform .3s ease;
}

.card-recente:hover .card-img img {
    transform: scale(1.05);
}

/* Texto */
.card-info {
    margin-top: 15px;
}

.card-info .marca {
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.card-info .titulo {
    font-size: 15px;
    color: #444;
    margin: 8px 0;
    min-height: 40px;
}

.card-info .preco {
    font-size: 16px;
    font-weight: 600;
}



.categorias-carousel {
    width: 100%;
    margin-top: 45px;
    padding: 40px 80px;
}

.categorias-carousel h2 {
    font-size: 32px;
    margin-bottom: 50px;
    font-weight: 500;
    letter-spacing: 1px;
    font-family: "Lora", serif;
}

.carousel-wrapper {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
}

.carousel-container {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    gap: 40px;
    padding: 20px;
}

.carousel-container::-webkit-scrollbar {
    display: none;
}

.categoria-item {
    min-width: 150px;
    text-decoration: none;
    color: black;
}


.categoria-item p {
    margin-top: 10px;
    font-size: 18px;
    font-weight: 500;
}


.icon-wrapper {
    width: 120px;
    height: 120px;
    background: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    overflow: hidden;
    border: 2px solid #ccc;
}

/* NOVO: imagem ocupando o círculo inteiro */
.icon-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}



.carousel-btn {
    background: none;
    border: none;
    font-size: 40px;
    color: #806e3f;
    cursor: pointer;
    padding: 0 10px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    user-select: none;
    transition: opacity 0.2s ease;
}

.carousel-btn:hover {
    opacity: 0.6;
}

.left-btn {
    left: 10px;
}

.right-btn {
    right: 10px;
}